
{% include 'sidebar.html' %}
<ul>
{% for estoque in object_list %}
    <li>{{ estoque.materia.nome }} - <br>
        QTD: {{ estoque.quantidade }} <br>
        Valor Total: {{ estoque.valor }} <br>
        Valor Unitario: {{ estoque.valorunitario }}</li>
    <form action="/estoque/historico/{{ estoque.materia.id }}/" method="get"> {% csrf_token %}
    <input type="submit" name="upvote" value="Activate" />

{% empty %}
    <li>No articles yet.</li>
{% endfor %}


    {% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

</ul>