
{% include 'sidebar.html' %}
<ul>
{% for pedido in object_list %}
    <li>{{ pedido.cliente }} - {{ pedido.id }}</li>


    <form action="/pedido/ativar/{{ pedido.id }}/" method="post"> {% csrf_token %}
    <input type="submit" name="upvote" value="Activate" />
    </form>

    <form action="/pedido/editar/{{ pedido.id }}/" method="get"> {% csrf_token %}
    <input type="submit" name="upvote" value="Edit" />
    </form>

{% empty %}
    <li>No articles yet.</li>
{% endfor %}

    <form action="/pedido/criar/" method="get">
    <input type="submit" name="upvote" value="Criar" />
    </form>

    {% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

</ul>